<template>
    <b-row>
        <createForm/>
    </b-row>
</template>
<script>
import CreateForm from "@/components/CreateForm";
export default {
    components:{
        CreateForm,
    }
}
</script>
