<template>
    <b-container class="p-3">
        <b-alert 
            :show="dismissCountDown"
            :variant="css_class"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
            dismissible>
        {{message}}
        </b-alert>
    </b-container>
</template>

<script>
import EventBus from "../buses/event_bus"
export default {
    name:"Alert",
    data(){
        return{
            message: "",
            css_class: "",
            dismissSecs: 3,
            dismissCountDown: 0,
        }
    },
    methods:{
        renderAlert(request){
            if (request.success) {
                this.css_class = "success"
                this.message = request.data.content
            }else{
                this.css_class = "danger"
                this.message = request.error
            }
            this.dismissCountDown = this.dismissSecs
        },
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown
        }
    },
    created(){
        EventBus.$on('show_alert', this.renderAlert)
    },
    beforeDestroy(){
        EventBus.$off('show_alert', this.renderAlert)
        this.showDismissibleAlert = false

    }
}
</script>

