<template>
  <b-container class="p-3">
      <b-card bg-variant="light">
          <b-form @submit="onSubmit">
            <b-row>
                <b-col>
                    <b-form-group :invalid-feedback="errors.first('key-name')">
                        <b-form-input
                            :state="(form.name == '') ? null : !errors.has('key-name')"
                            id="key-name" 
                            type="text" 
                            name="key-name"
                            v-model="form.name" 
                            v-validate="'required|min:3'" 
                            placeholder="Type the key name...">
                        </b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row class="p-3">
                <b-col md="4" offset-md="4" >
                    <b-button block type="submit" variant="primary" :disabled="(form.name == '') || errors.any()">Submit</b-button>
                </b-col>
            </b-row>
          </b-form>
      </b-card>
  </b-container>
</template>
<script>
import EventBus from "../buses/event_bus"
import Key from "../services/key";
export default {
    name:"CreateForm",
    data(){
        return{
            form:{
                name: ''
            },
            keyerrors:[],
            show:true
        }
    },
    methods:{
        async onSubmit(e){
            e.preventDefault()            
            const request = await Key.create({name:this.form.name})
            EventBus.$emit('show_alert', request) 

        },
        onReset(e){
            e.preventDefault()
            this.form.name = '',
            this.show = false
            this.$nextTick(() => {
                this.show = true
            })
        }
    }
}
</script>
