<template>
    <b-container class="p-3">
        <b-card bg-variant="light">
            <h3>Encode text</h3>
            <b-form @submit.stop.prevent="encodeText">
                <b-form-group :invalid-feedback="errors.first('encode-select')">
                    <b-form-select 
                            v-model="encodeForm.key_id" 
                            :options="keys" 
                            class="mb-3" 
                            :state="(encodeForm.key_id == null) ? null : !errors.has('encode-select')"
                            id="encode-select"
                            name="encode-select"
                            v-validate="'required'" 
                            >
                        <template slot="first">
                            <option :value="null" disabled>-- Please select a key --</option>
                        </template>
                    </b-form-select>
                </b-form-group>
                <b-form-group :invalid-feedback="errors.first('encode-text-area')">
                    <b-form-textarea
                        id="encode-text-area"
                        name="encode-text-area"
                        :state="(encodeForm.encode_text == '') ? null : !errors.has('encode-text-area')"
                        v-model="encodeForm.encode_text"
                        placeholder="Enter something..."
                        v-validate="'required'" 
                        rows="3"
                        max-rows="6"
                        >
                    </b-form-textarea>
                </b-form-group>
                <b-row class="p-3">
                    <b-col md="4" offset-md="4" >
                        <b-button block type="submit" variant="primary" :disabled="(encodeForm.encode_text == '') || errors.any()">Submit</b-button>
                    </b-col>
                </b-row>
            </b-form>
        </b-card>    
    </b-container>
</template>
<script>
import rsa from "../mixins/rsa"
import Key from "../services/key";
import EventBus from "../buses/event_bus"
export default {
    name:"CypherForm",
    props:['keys'],
    mixins:[rsa],
    data(){
        return{
            encodeForm:{
                key_id:"",
                encode_text:""
            },
        }
    },
    methods:{
        async encodeText(){
            const request = await Key.cypher({id:this.encodeForm.key_id, text:btoa(this.encodeForm.encode_text)})
            var response = this.setResponse(request)
            EventBus.$emit('ciphered_text', response)
        },
    }
}
</script>
