<template>
    <b-container class="p-3">
        <b-card bg-variant="light">
            <h3>Decode text</h3>
            <b-form @submit.stop.prevent="decodeText">
                <b-form-group :invalid-feedback="errors.first('decode-select')">
                    <b-form-select 
                            v-model="decodeForm.key_id" 
                            :options="keys" 
                            class="mb-3" 
                            :state="(decodeForm.key_id == null) ? null : !errors.has('decode-select')"
                            id="decode-select"
                            name="decode-select"
                            v-validate="'required'" 
                            >
                        <template slot="first">
                            <option :value="null" disabled>-- Please select a key --</option>
                        </template>
                    </b-form-select>
                </b-form-group>
                <b-form-group :invalid-feedback="errors.first('decode-text-area')">
                    <b-form-textarea
                        id="decode-text-area"
                        name="decode-text-area"
                        :state="(decodeForm.decode_text == '') ? null : !errors.has('decode-text-area')"
                        v-model="decodeForm.decode_text"
                        placeholder="Enter something..."
                        v-validate="'required'" 
                        rows="3"
                        max-rows="6"
                        >
                    </b-form-textarea>
                </b-form-group>
                <b-row class="p-3">
                    <b-col md="4" offset-md="4" >
                        <b-button block type="submit" variant="primary" :disabled="(decodeForm.decode_text == '') || errors.any()">Submit</b-button>
                    </b-col>
                </b-row>
            </b-form>
        </b-card>    
    </b-container>
</template>
<script>
import rsa from "../mixins/rsa"
import Key from "../services/key";
import EventBus from "../buses/event_bus"
export default {
    name:"DecypherForm",
    props:['keys'],
    mixins:[rsa],
    data(){
        return{
            decodeForm:{
                key_id:"",
                decode_text:""
            },
        }
    },
    methods:{       
        async decodeText(){
            const request = await Key.decypher({id:this.decodeForm.key_id, text:this.decodeForm.decode_text})
            var response = this.setResponse(request)
            EventBus.$emit('deciphered_text', response)
        }
    }
}
</script>
