<template>
    <b-row>
        <b-col md="4" offset-md="2">
                <b-form @submit="searchKey">
                    <b-form-group>
                        <b-input-group class="p-4">
                            <b-form-input placeholder="Search key..." v-model="form.name"></b-form-input>
                            <b-input-group-append>
                                <b-button variant="primary" type="submit">Search</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-form>
        </b-col>
        <b-col md="8" offset-md="2">
            <b-table bordered striped hover :items="keys"></b-table>
        </b-col>
    </b-row>
</template>
<script>
import EventBus from "../buses/event_bus"
import Key from "../services/key";
export default {
    data(){
        return {
            form:{
                name:""
            },
            keys:[]
        }
    },
    methods:{
        async searchKey(e) {
            e.preventDefault()
            const request = await Key.getKeys(this.form.name);
            this.setResponse(request)
        },
        setResponse(request){
            if (request.success) {
                this.keys = request.data
            } else {
                EventBus.$emit('show_alert', request) 
            }
        }
    },
    async mounted(){
        const request = await Key.getKeys();
        this.setResponse(request)
    }
}
</script>

