<template>
    <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand :to="{name:'Home'}">{{app_name}}</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item :to="{name: 'create'}">Create Key</b-nav-item>
                <b-nav-item :to="{name: 'rsa_ops'}">Encrypt & Decrypt Text</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>
<script>
export default {
    name: 'Navbar',
    data(){
        return {
            app_name: process.env.VUE_APP_TITLE
        }
    }
}
</script>
