<template>
    <b-container class="p-3">
      <b-card>
          <h3>Response text</h3>
          <b-card bg-variant="light">
              <p>{{response_text}}</p>
          </b-card>
      </b-card>    
    </b-container>
</template>
<script>
import EventBus from "../buses/event_bus"
import rsa from "../mixins/rsa"
export default {
    name:"ResponseText",
    mixins:[rsa],
    data(){
        return{
            response_text: ""
        }
    },
    methods:{
        printEncripted(response){
            if (response.success) {
                this.response_text = response.response_text                
            }else{
                this.setAlert(response)
            }
        },
        printDecrypted(response){
            if (response.success) {
                this.response_text = atob(response.response_text)
            }else{
                this.setAlert(response)
            }
        }
    },
    created(){
        EventBus.$on('ciphered_text', this.printEncripted)
        EventBus.$on('deciphered_text', this.printDecrypted)
    },
    beforeDestroy(){
        EventBus.$off('ciphered_text', this.printCiphered)
        EventBus.$off('deciphered_text', this.printDeciphered)
    }
}
</script>
