<template>
    <b-row>
        <b-col md="4">
            <cypherForm :keys="keys"/>
        </b-col>
        <b-col md="4">
            <responseText/>
        </b-col>
        <b-col md="4">
            <decypherForm :keys="keys"/>
        </b-col>
    </b-row>
</template>
<script>
import CypherForm from "@/components/CypherForm";
import DecypherForm from "@/components/DecypherForm";
import ResponseText from "@/components/ResponseText";
import EventBus from "../buses/event_bus"
import Key from "../services/key";
export default {
    name:'Rsa',
    components:{
        CypherForm,
        DecypherForm,
        ResponseText
    },
    data() {
        return {
            keys: []
        }
    },
    methods:{
        setKeys(request){
            if (request.success) {
                var key_array = []
                var data = request.data
                data.forEach(function(key) {                    
                    var newKey = {
                        value: key.id,
                        text: key.name
                    }
                    key_array.push(newKey);
                });
                this.keys = key_array                
            } else {
                EventBus.$emit('show_alert', request) 
            }
        }, 
    },
    async mounted(){
        const request = await Key.getKeys();
        this.setKeys(request)
    }
}
</script>

