<template>
  <div id="app">
    <b-row>
      <b-col md="12">
        <navbar/>
      </b-col>
    </b-row>
    <b-row>
      <alert/>
    </b-row>
    <b-row>
      <b-col align-v="center">
        <router-view/>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import Alert from "@/components/Alert";
import Navbar from "@/components/Navbar";
export default {
  name: "App",
  components: {
    Navbar,
    Alert
  }
}
</script>
